version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: dl_ai_web
    command: daphne -b 0.0.0.0 -p 8000 DjangoTest.asgi:application
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: mysql:8
    container_name: dl_ai_db
    volumes:
      - mysql_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: "{AOEIHG(hgsr)RSIJsy4"
      MYSQL_USER: dl_ai_user
      MYSQL_PASSWORD: "{AOEIHG(hgsr)RSIJsy4"
      MYSQL_DATABASE: dl_ai 

  nginx:
    image: nginx:latest
    container_name: dl_ai_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - static_volume:/app/static
    depends_on:
      - web

volumes:
  mysql_data:
  static_volume:
