<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- Import Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
        
        <!-- and it's easy to individually load additional languages -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    
    <style>
        /* Apply the imported font to the whole document */
        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            height: 100%;
            width: 100%;
        }
        #content {
            height: 100%;
            width: 100%;
        }
    </style>

    {% block head %}{% endblock %}
    <title>DLAPI</title>
</head>
<body>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
