{% extends "ai/base.html" %}

{% block content %}
<style>
    /* Import a beautiful font from Google Fonts */
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

    /* Apply the font and style to h1 and h2 */
    h1, h2 {
        font-family: 'Roboto', sans-serif; /* Apply the font */
    }

    h1 {
        font-size: 2.5em; /* Set font size for h1 */
        color: #333; /* Dark color for better readability */
        margin-bottom: 20px; /* Add space below the heading */
    }

    h2 {
        font-size: 2em; /* Set font size for h2 */
        color: #555; /* Slightly lighter color */
        margin-bottom: 15px; /* Add space below the heading */
    }

    /* Style for the input field */
    #messageText {
        width: 100%; /* Increase the width */
        font-size: 18px; /* Increase font size */
        border: 2px solid #ccc; /* Add a border */
        border-radius: 10px; /* Round the corners */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
        resize: none;
        height: 85vh;
        margin-top: 2vh;
    }

    /* Style for the button */
    button {
        padding: 10px 20px; /* Increase padding for a larger clickable area */
        margin: 10px; /* Add some margin for spacing */
        font-size: 16px; /* Increase font size */
        color: white; /* Button text color */
        background-color: #007BFF; /* Button background color */
        border: none; /* Remove default border */
        border-radius: 5px; /* Round the corners */
        cursor: pointer; /* Change cursor to pointer on hover */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
        transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    }

    /* Hover effect for the button */
    button:hover {
        background-color: #0056b3; /* Darker background on hover */
    }

    /* Style for the messages container */
    #messages {
        height: 95vh;
        width: 100vw;
        margin-left: 10px;
        margin-right: 10px;
        padding: 20px 0; /* Add some margin for spacing */
        padding: 10px; /* Add padding for better readability */
        border: 2px solid #ccc; /* Add a border */
        border-radius: 10px; /* Round the corners */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
        overflow-y: auto; /* Enable vertical scrolling if content overflows */
        font-family: 'Roboto', sans-serif; /* Apply the font */
        background-color: #fff; /* Set a background color */
    }

    /* Style for individual messages */
    #messages li {
        margin-bottom: 20px; /* Add some space between messages */
        font-size: 18px; /* Ensure the font size matches the input field */
    }

    form {
        display: flex;
        flex-direction: column;
        margin-right: 1vw;
        padding-left: 40px;
        width: 30vw;
        max-width: 94vw;
    }
    #select, #selectLang {
        font-size: 18px;
        max-width: 77%;
    }
    .blo {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .resize-button {
        left: 2;
        top: 13px;
        position: absolute;
        height: 98%; /* Высота кнопки на всю высоту textarea */
        width: 30px; /* Ширина кнопки */
        background-color: #d8d8d8;
        cursor: ew-resize; /* Указатель для изменения размера по горизонтали */
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease;
        font-size: 32px;
        color: black;
    }
    .check {
        font-family: 'Roboto';
        font-weight: 600;
    }
    .dv {
        display: flex;
    }
</style>

<div class="blo">
    <ul id='messages'>
    </ul>
    <div class="dv">
        <div class="resize-button" onmousedown="startResize(event)">🠔</div>
        <form action="" onsubmit="sendMessage(event)">
            <textarea type="text" id="messageText" placeholder="Задайте вопрос (желательно на английском во избежание ошибок)" autocomplete="off"></textarea>
            <div>
            <button>Send</button>
            <button type="button" onclick="clearContext()">Clear Context</button>
            <select id="selectLang">
                <option language="Russian">Русский</option>
                <option language="English">English</option>
                <option language="French">Français</option>
            </select>
            <select id="select">
                <option value="Meta_Llama_3_1_70B_Instruct">Meta-Llama-3-1-70B-Instruct</option>
                <option value="Mixtral_8x7B">Mixtral-8x7B</option>
                <option value="Mixtral_8x22b">Mixtral-8x22b</option>
                <option value="Gemma_7b">Gemma-7b</option>
            </select>
            <div class="check">
                <input type="checkbox" class="inp" checked> При нажатии на Enter будет отправлятся вопрос(для переноса строки Enter+Shift)
            </div>
            </div>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked-highlight/lib/index.umd.js"></script>
<script>
    let notEnter = false
    const {markedHighlight} = globalThis.markedHighlight;
    const {Marked} = globalThis.marked;
    const markedd = new Marked(
        markedHighlight({
            langPrefix: 'hljs language-',
            highlight(code, lang, info)
            {
                const language = hljs.getLanguage(lang) ? lang : 'plaintext';
                return hljs.highlight(code, { language }).value;
            }
        })
    );

    var client_id = Date.now()

    var wsProtocol = window.location.protocol === 'https:' ? 'wss:' : 'ws:';
    var wsUrl = `${wsProtocol}//${window.location.hostname}/ai/chat/ws/${client_id}`;
    var ws = new WebSocket(wsUrl);
    //var ws = new WebSocket(`ws://localhost:8000/ai/chat/ws/${client_id}`);

    ws.onmessage = function(event) {
        var messages = document.getElementById('messages')
        var message = document.createElement('li')
        var content = document.createElement('li')
        content.innerHTML+=markedd.parse(event.data)
        messages.appendChild(content)
        messages.scrollTo({top: messages.scrollHeight, behavior: 'smooth'});
        var input = document.getElementById("messageText")
        input.value = ''
        notEnter=false
    };

    function sendMessage(event) {
    event.preventDefault();  // Эта строка вызывает ошибку, если event не передан
    if (ws.readyState === WebSocket.OPEN) {
        var value = document.querySelector("#select").value;
        var language = document.querySelector("#selectLang").value;
        var input = document.getElementById("messageText");
        ws.send(JSON.stringify({message: input.value, value: value, language: language}));
        input.value = '';
    } else {
        console.log("WebSocket is not open: " + ws.readyState);
    }
}


// Функция очистки контекста (истории переписки) ИИ
    function clearContext() {
        if (ws.readyState === WebSocket.OPEN) {
            ws.send(JSON.stringify({action: 'clear_context'}));
        } else {
            console.log("WebSocket is not open: " + ws.readyState);
        }
}



    let isResizing = false;

    function startResize(event) {
        isResizing = true;
        window.addEventListener('mousemove', resize);
        window.addEventListener('mouseup', stopResize);
    }

    function resize(event) {
        if (isResizing) {
            const container = document.querySelector('form');
            const newWidth = container.getBoundingClientRect().right - event.clientX;
            const minWidth = 400; // Минимальная ширина textarea
            if (newWidth > minWidth) {
                container.style.width = `${newWidth}px`;
            }
        }
    }

    function stopResize() {
        isResizing = false;
        window.removeEventListener('mousemove', resize);
        window.removeEventListener('mouseup', stopResize);
    }

    document.addEventListener("keydown", function(event) {
        const checkbox = document.querySelector(".inp");
        if (event.key === "Enter" && checkbox.checked && !event.shiftKey && !notEnter) {
            notEnter=true
            sendMessage(event);
        }
    });

    function updateLanguageText(lang) {
        if (lang === "Русский") {
            document.querySelector("textarea").setAttribute("placeholder", "Задайте вопрос (желательно на английском во избежание ошибок)");
            
            document.querySelector("button").innerText = "Отправить";
            document.querySelector("button[type='button']").innerText = "Очистить контекст";
            
            document.querySelector(".check").innerHTML = `
                <input type="checkbox" class="inp" checked> 
                При нажатии на Enter будет отправляться вопрос (для переноса строки Enter+Shift)
            `;
        } else if (lang === "English") {
            document.querySelector("textarea").setAttribute("placeholder", "Ask a question (preferably in English to avoid mistakes)");
            document.querySelector("button").innerText = "Send";
            document.querySelector("button[type='button']").innerText = "Clear Context";
            document.querySelector(".check").innerHTML = `
                <input type="checkbox" class="inp" checked> 
                Press Enter to send a question (use Enter+Shift for a new line)
            `;
        } else if (lang === "Français") { 

            document.querySelector("textarea").setAttribute("placeholder", "Posez une question (de préférence en anglais pour éviter les erreurs)");
            document.querySelector("button").innerText = "Envoyer";
            document.querySelector("button[type='button']").innerText = "Effacer le contexte";
            document.querySelector(".check").innerHTML = `
                <input type="checkbox" class="inp" checked> 
                Appuyez sur Entrée pour envoyer une question (utilisez Entrée+Shift pour une nouvelle ligne)
            `;
        }
    }

    document.querySelector("#selectLang").addEventListener("change", function() {
        const lang = this.value;
        updateLanguageText(lang);
    });

    document.addEventListener('DOMContentLoaded', function() {
        const lang = document.querySelector("#selectLang").value;
        updateLanguageText(lang);  
    });
</script>
{% endblock %}
